---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Projects from '@/components/sections/Projects.astro';
import Career from '@/components/sections/Career.astro';
import Certifications from '@/components/sections/Certifications.astro';
import Contact from '@/components/sections/Contact.astro';
import Footer from '@/components/sections/Footer.astro';

import { getImage } from 'astro:assets';
import heroImage from '@/assets/images/hero/hero10.jpg';

// Procesamiento LCP: Precarga responsiva exacta para el móvil (Fase 1)
const optimizedHero = await getImage({
  src: heroImage,
  widths: [640, 1024, 1920],
  sizes: "100vw",
  format: "webp",
  quality: 80
});
---

<Layout preloadResponsiveImage={{ srcSet: optimizedHero.srcSet.attribute, sizes: optimizedHero.attributes.sizes, type: "image/webp" }}>
  <main>

    <Hero />
    <About />
    <Projects />
    <Career />
    <Certifications />
    <Contact />
    <Footer />
  </main>
</Layout>
